* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f3ef;
    width: 100%;
}

.main_header {
    padding: 20px;
    background-color: #738678;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

/* unvisited link */
.main_header a:link {
    color: white;
}

/* visited link */
.main_header a:visited {
    color: lightskyblue;
}

.main_header h1 {
    display: inline-block;
    font-size: 48px;
    padding: 10px;
}

.main_header {
    padding-top: 15px;
    margin-right: 20px;
    float: left;
    font-size: 20px;

}

.main_header ul {
    list-style-type: none;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    text-align: center;
}

.main_header ul li {
    display: inline-block;
    margin-left: 25px;
}

.background_image {
    display: block;
    width: 100%;
    height: 700px;
    background-position: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    background-image: url(./Images/Top\ Banner\ Background.jpg);
    border-bottom: 15px, solid, black;
}

h2 {
    display: inline-flex;
    border-right: 5px solid black;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 150px;
    font-size: 35px;
    margin-right: 10px;
    margin-left: 10px;
    column-width: 150px;
    padding: 100px;
}

.aboutme {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

p {
    margin-left: 30px;
    margin-right: 20px;
    font-size: 20px;
    width: 700px;
}

#headshot {
    height: 200px;
    margin-left: 20px;
}

/*Work Content*/
.work {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.card {
    width: 300px;
    text-align: left;
    border-width: 3px;
    border-style: solid;
    justify-self: flex-start;
}

#projectlink {
    position: relative;
    margin-bottom: -5%;
    background: #738678;
    width: 100%;
}

/* unvisited link */
#projectlink a:link {
    color: white;
}

/* visited link */
#projectlink a:visited {
    color: lightskyblue;
}

.work img {
    width: 100%;
}

/*Contact information*/
.contact-me {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

#contactinfo {
    list-style-type: none;
    display: inline-flex;
}

#github,
#phonenumber,
#email,
#linkedin {
    margin: 60px;
    font-size: 20px;
}

/*Resume information*/
.resume {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

#resumelink {
    margin-left: 50px;
    font-size: 20px;
    width: 700px;
}

footer {
    text-align: center;
    background-color: #738678;
    padding-top: 50px;
    padding-bottom: 50px;
}