{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    background-color: #ffffff;
}

.main_header {
    padding: 20px;
    background-color: #000068;
    color: #ffffff;
    width: 100%;
}
/* unvisited link */
.main_header a:link {
    color: white;
  }
  
  /* visited link */
  .main_header a:visited {
    color: lightskyblue;
  }

.main_header h1 {
    display: inline-block;
    font-size: 48px;
    padding: 10px;
}

.main_header {
    padding-top: 15px;
    margin-right: 20px;
    float: left;
    font-size: 20px;
}

.main_header ul {
    list-style-type: none;
    color: #ffffff;
    float: right;
    padding-top: 20px;
}

.main_header ul li {
    display: inline-block;
    margin-left: 25px;
}

.background_image {
    display: block;
    width: 100%;
    height: 700px;
    background-position: center;
    margin-bottom: 25px;
    padding-bottom: 10px;
    background-image: url(./Images/Top\ Banner\ Background.jpg);
}

h2 {
    border-right: 10px solid black;
    flex-direction: column;
    flex-wrap: nowrap;
    width:200px;
    height: 100px;
    font-size: 35px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 50px;
}

.about-me {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

p {
    margin-left: 50px;
    width: 700px;
}
#headshot {
    height: 200px;
    justify-content: space-between;
    margin-left: 50px;
}
.contact-me {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#contactinfo {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
}
#github, #phonenumber, #email {
    margin: 50px;
}